.container-fluid {
  background: rgb(187,226,236);
  background: linear-gradient(90deg, rgba(187,226,236,1) 0%, rgba(228,242,245,1) 6%, rgba(239,246,247,1) 91%, rgba(187,226,236,1) 100%);
  }
  .underlined-text {
    --color: aliceblue;
    --position: center bottom;
    --width: 100px;
    --height: 2px;
    background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    display: inline;
    padding-bottom: 4px;
  }
