<div
  class="container-fluid"
  style="
    background: rgb(187, 226, 236);
    background: linear-gradient(
      90deg,
      rgba(187, 226, 236, 1) 0%,
      rgba(228, 242, 245, 1) 6%,
      rgba(239, 246, 247, 1) 91%,
      rgba(187, 226, 236, 1) 100%
    );
  "
>
  <div class="row">
    <div class="text col-lg-6 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <h1 class="text-center mt-5">Fonbul+ Mobil Dünyasına Adım Atın!</h1>
            <div class=" mt-5">
              <h4 class="mt-4">
                Mobil uygulamamızla, yatırım ve emeklilik fonlarını keşfedin ve
                analiz edin.
              </h4>
              <h4 class="mt-4">
                Minimalist tasarımı ve kullanıcı dostu arayüzü ile Fonbul+
                Mobil, sizlere güvenli ve hızlı bir deneyim sunuyor!
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image col-lg-6 col-md-12">
      <img src="assets/fon.png" />
    </div>
  </div>
</div>

<div class="container-fluid" id="feature">
  <div class="row">
    <div class="image col-lg-6 col-md-12 order-2 order-md-1">
      <img src="assets/f.png"  />
    </div>
    <div class="text col-lg-6 mt-4 order-1 order-md-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="mt-5">
              Fonbul+ Mobil uygulamasında birçok yenilik sizleri bekliyor!
            </h1>
            <div class=" mt-5">
              <h4 class="mt-4">
                Robofon ile fonları temalara, stratejilere ve risk değerlerine
                göre karşılaştırabilir, istediğiniz kriterlere uygun fonlara
                kolayca ulaşın!
              </h4>
              <h4 class="mt-4">
                Fonların risk değeri, volatilite, getiri ve sharpe değerlerini
                görsel olarak inceleyebilir, fiyat grafikleriyle fonun fiyat
                trendini takip edebilirsiniz.
              </h4>
            </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid"
  style="
    background: rgb(187, 226, 236);
    background: linear-gradient(
      90deg,
      rgba(187, 226, 236, 1) 0%,
      rgba(228, 242, 245, 1) 6%,
      rgba(239, 246, 247, 1) 91%,
      rgba(187, 226, 236, 1) 100%
    );
  "
>
  <div class="row">
    <div class="text col-lg-6 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-8">
            <div class=" mt-5">
              <h4 class="mt-2">
                Fonun son bir yıllık fiyat grafiğini ve dilerseniz günlük,
                haftalık, aylık hatta yıllık getirileri anında görüntüleyin!
              </h4>
              <h4 class="mt-5">
                Fonun hangi varlık gruplarına ağırlık verdiğini ve fon künyesine
                göz atın!
              </h4>
              <h4 class="mt-5">
                İstediğiniz fonları favorilerinize ekleyin, favori fonlarınıza
                kolayca ulaşın!
              </h4>
              <h4 class="mt-5">
                Fonlar hakkında bilgilendirici makaleler, video içerikler ve
                daha fazlası parmaklarınızın ucunda!
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image col-lg-6 col-md-12">
      <img src="assets/ff.png"/>
    </div>
  </div>
</div>
