.landing-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing-image-container img {
  width: 150%;
}

p
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}
h1{
  font-weight: bold;
}
