.landing-image-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.landing-image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#appStoreContainer {
  background: rgb(212, 217, 231);
  background: linear-gradient(
    90deg,
    rgba(212, 217, 231, 1) 0%,
    rgba(86, 149, 224, 1) 47%,
    rgba(94, 142, 200, 1) 63%,
    rgba(124, 160, 208, 1) 76%,
    rgba(212, 217, 231, 1) 100%
  );
}
.appStoreImg img {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 9999;
  margin-top: -160px;
}

.dot {
  height: 200px;
  width: 200px;
  background: rgb(212, 217, 231);
  background: linear-gradient(
    90deg,
    #89cff3 0%,
    rgb(100, 151, 214) 70%,
    #89cff3 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 70px;
}
.dot-2 {
  height: 50px;
  width: 50px;
  background: rgb(212, 217, 231);
  background: linear-gradient(
    90deg,
    #89cff3 0%,
    rgb(100, 151, 214) 70%,
    #89cff3 100%
  );
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  overflow: hidden;
}
.dot-3 {
  height: 50px;
  width: 50px;
  background: rgb(212, 217, 231);
  background: linear-gradient(
    90deg,
    #89cff3 0%,
    rgb(100, 151, 214) 70%,
    #89cff3 100%
  );
  opacity: 0.3;

  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  overflow: hidden;
  float: inline-end;
}
.buttons {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.text-center {
  width: 50%;
  margin: 0 auto;
}
