<div class="container mt-3" *ngFor="let landing of landings">
  <app-landing-content
    [title]="landing.title"
    [content]="landing.description"
    [image1Src]="landing.images[0].url"
    [image2Src]="landing.images[1].url"
  ></app-landing-content>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center mt-3">
        <p>
          Uygulamayı indirmek için App Store veya Google Play Store üzerinden
          ücretsiz olarak indirebilirsiniz. Siz de Fonbul+ indirin, yeni
          deneyimlerin ve fırsatların tadını çıkarın.
        </p>

        <h1>Fon Dünyasını Keşfetmek için Hemen Başlayın!</h1>

        <div class="d-flex flex-column justify-content-center">
          <p class="card-text mt-2">
            Fonbul+ Mobil ile tanışmak için daha fazla zaman kaybetmeyin!
          </p>
        </div>

        <button class="btn btn-outline-primary mt-2">SATIN AL!</button>
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <div class="landing-image-container">
        <img src="assets/image.png" />
        <p>
          Yeniliğin ve teknolojinin getirdiği avantajları keşfetmek için hazır
          mısınız? Sizleri mobil uygulamamızla buluşmaya davet ediyoruz.
          Sorularınız, önerileriniz veya geri bildirimleriniz için her zaman
          buradayız.
        </p>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
