<div class="container-fluid" id="buy-container">
  <div class="row mt-5">
    <div class="text col-lg-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-8">
            <h1 class="mt-5 text-center">
              Fon Dünyasını Keşfetmek için Hemen Başlayın!
            </h1>
            <div class="text-center mt-5">
              <h4 class="mt-5">
                Fonbul+ Mobil ile tanışmak için daha fazla zaman kaybetmeyin!
              </h4>
              <a target="_blank" href='https://www.finnet.com.tr/FinnetStore/tr/' class="btn mt-5 ms-3 p-3 buy-btn mb-3">
                <i class="bi bi- px-2"></i>ŞİMDİ İNDİR!
              </a>
              <div class="buttons2">
                <a target="_blank" href='https://www.finnet.com.tr/FinnetStore/tr/'>
                  <img src="assets/App-store.png" id="app-store" />
                </a>
                <a target="_blank" href='https://www.finnet.com.tr/FinnetStore/tr/' class="ms-3">
                  <img src="assets/google-play-badge.png" id="google-play" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image col-lg-6 col-md-12">
      <img id="fonbul-image" src="assets/home-picture.png"/>
    </div>
  </div>
</div>
