p
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}
h1{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1450A3;

}
h4{
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 25px;
}
.column {
  float: left;
  width: 35%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
.buy-btn {
  font-weight: 700;
  color: aliceblue;
  background: rgb(212, 217, 231);
  background: linear-gradient(
    90deg,
    rgba(124, 160, 208, 1) 0%,
    rgb(100, 151, 214) 73%,
    rgb(124, 160, 208, 1) 100%
  );
}
.buttons2 {
  margin-top: 30px;
}
#fonbul-image
{
  width: 100%
}
