.container-fluid {
  background: rgb(230, 86, 235);
  background: linear-gradient(
    90deg,
    rgba(230, 86, 235, 1) 0%,
    rgba(91, 7, 97, 1) 37%,
    rgba(122, 3, 195, 1) 100%
  );
}
.btn {
  width: auto;
  background-color: rgba(122, 3, 195, 1);
  color: aliceblue;
}

