<div class="container-fluid" id="buy-container">
  <div class="row">
    <div class="col-lg-6 col-md-12 mt-2">
      <div class="text-center">
        <h5>
          Uygulamayı indirmek için App Store veya Google Play Store üzerinden
          ücretsiz olarak indirebilirsiniz. Siz de Fonbul+ indirin, yeni
          deneyimlerin ve fırsatların tadını çıkarın.
        </h5>
        <h1 class="mt-5">Fon Dünyasını Keşfetmek için Hemen Başlayın!</h1>

        <div class="d-flex flex-column justify-content-center">
          <h6 class="card-text mt-2">
            Fonbul+ Mobil ile tanışmak için daha fazla zaman kaybetmeyin!
          </h6>
        </div>

        <button class="btn mt-5 ms-3 p-3 buy-btn mb-3">
          <i class="bi bi- px-2"></i>HEMEN BAŞLAYIN!
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" id="buy-image-container">
            <img src="assets/image.png" class="mt-5" />
          </div>
          <div class="col-lg-8">
            <h5 class="mt-5 mb-3" id="right-title">
              Yeniliğin ve teknolojinin getirdiği avantajları keşfetmek için
              hazır mısınız? Sizleri mobil uygulamamızla buluşmaya davet
              ediyoruz. Sorularınız, önerileriniz veya geri bildirimleriniz için
              her zaman buradayız.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
